LeagueInfo/Service References/LeagueWS/LeagueService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://service.klausner.com/" targetNamespace="http://service.klausner.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="FailureLoginException" type="tns:FailureLoginException" />
  <xs:element name="UpdateFailureException" type="tns:UpdateFailureException" />
  <xs:element name="alterarSenha" type="tns:alterarSenha" />
  <xs:element name="alterarSenhaResponse" type="tns:alterarSenhaResponse" />
  <xs:element name="alterarUsuario" type="tns:alterarUsuario" />
  <xs:element name="alterarUsuarioResponse" type="tns:alterarUsuarioResponse" />
  <xs:element name="buildstage" type="tns:buildstage" />
  <xs:element name="championbuild" type="tns:championbuild" />
  <xs:element name="championcomments" type="tns:championcomments" />
  <xs:element name="championcounter" type="tns:championcounter" />
  <xs:element name="darFeedBackBuild" type="tns:darFeedBackBuild" />
  <xs:element name="darFeedBackBuildResponse" type="tns:darFeedBackBuildResponse" />
  <xs:element name="darFeedBackComentario" type="tns:darFeedBackComentario" />
  <xs:element name="darFeedBackComentarioResponse" type="tns:darFeedBackComentarioResponse" />
  <xs:element name="darFeedBackCounter" type="tns:darFeedBackCounter" />
  <xs:element name="darFeedBackCounterResponse" type="tns:darFeedBackCounterResponse" />
  <xs:element name="encontrarBuildPorId" type="tns:encontrarBuildPorId" />
  <xs:element name="encontrarBuildPorIdResponse" type="tns:encontrarBuildPorIdResponse" />
  <xs:element name="encontrarBuildsPorCampeao" type="tns:encontrarBuildsPorCampeao" />
  <xs:element name="encontrarBuildsPorCampeaoResponse" type="tns:encontrarBuildsPorCampeaoResponse" />
  <xs:element name="encontrarComentario" type="tns:encontrarComentario" />
  <xs:element name="encontrarComentarioPorCampeao" type="tns:encontrarComentarioPorCampeao" />
  <xs:element name="encontrarComentarioPorCampeaoResponse" type="tns:encontrarComentarioPorCampeaoResponse" />
  <xs:element name="encontrarComentarioResponse" type="tns:encontrarComentarioResponse" />
  <xs:element name="encontrarCounterPorCampeao" type="tns:encontrarCounterPorCampeao" />
  <xs:element name="encontrarCounterPorCampeaoResponse" type="tns:encontrarCounterPorCampeaoResponse" />
  <xs:element name="encontrarCounterPorId" type="tns:encontrarCounterPorId" />
  <xs:element name="encontrarCounterPorIdResponse" type="tns:encontrarCounterPorIdResponse" />
  <xs:element name="encontrarUsuario" type="tns:encontrarUsuario" />
  <xs:element name="encontrarUsuarioPorId" type="tns:encontrarUsuarioPorId" />
  <xs:element name="encontrarUsuarioPorIdResponse" type="tns:encontrarUsuarioPorIdResponse" />
  <xs:element name="encontrarUsuarioResponse" type="tns:encontrarUsuarioResponse" />
  <xs:element name="finalizarCadastro" type="tns:finalizarCadastro" />
  <xs:element name="finalizarCadastroResponse" type="tns:finalizarCadastroResponse" />
  <xs:element name="hello" type="tns:hello" />
  <xs:element name="helloResponse" type="tns:helloResponse" />
  <xs:element name="inserirBuild" type="tns:inserirBuild" />
  <xs:element name="inserirBuildResponse" type="tns:inserirBuildResponse" />
  <xs:element name="inserirBuildStage" type="tns:inserirBuildStage" />
  <xs:element name="inserirBuildStageResponse" type="tns:inserirBuildStageResponse" />
  <xs:element name="inserirComentarioCampeao" type="tns:inserirComentarioCampeao" />
  <xs:element name="inserirComentarioCampeaoResponse" type="tns:inserirComentarioCampeaoResponse" />
  <xs:element name="inserirCounter" type="tns:inserirCounter" />
  <xs:element name="inserirCounterResponse" type="tns:inserirCounterResponse" />
  <xs:element name="inserirUsuario" type="tns:inserirUsuario" />
  <xs:element name="inserirUsuarioResponse" type="tns:inserirUsuarioResponse" />
  <xs:element name="login" type="tns:login" />
  <xs:element name="loginResponse" type="tns:loginResponse" />
  <xs:element name="preCadastro" type="tns:preCadastro" />
  <xs:element name="preCadastroResponse" type="tns:preCadastroResponse" />
  <xs:element name="usuario" type="tns:usuario" />
  <xs:complexType name="encontrarBuildsPorCampeao">
    <xs:sequence>
      <xs:element name="idCampeao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarBuildsPorCampeaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:championbuild" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="championbuild">
    <xs:sequence>
      <xs:element minOccurs="0" name="idBuild" type="xs:int" />
      <xs:element name="idChampion" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="dataNasc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="nome" type="xs:string" />
      <xs:element minOccurs="0" name="senha" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="xs:string" />
      <xs:element minOccurs="0" name="validado" type="xs:boolean" />
      <xs:element minOccurs="0" name="validador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preCadastro">
    <xs:sequence>
      <xs:element minOccurs="0" name="summoner" type="xs:string" />
      <xs:element minOccurs="0" name="validador" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="preCadastroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateFailureException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarCounterPorId">
    <xs:sequence>
      <xs:element name="idChampionCounter" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarCounterPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:championcounter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="championcounter">
    <xs:sequence>
      <xs:element name="idChampion" type="xs:int" />
      <xs:element minOccurs="0" name="idCounter" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darFeedBackBuild">
    <xs:sequence>
      <xs:element minOccurs="0" name="build" type="tns:championbuild" />
      <xs:element minOccurs="0" ref="tns:usuario" />
      <xs:element name="feedback" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darFeedBackBuildResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarBuildPorId">
    <xs:sequence>
      <xs:element name="idBuild" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarBuildPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:championbuild" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirCounter">
    <xs:sequence>
      <xs:element minOccurs="0" name="counter" type="tns:championcounter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirCounterResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="login">
    <xs:sequence>
      <xs:element minOccurs="0" name="login" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loginResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FailureLoginException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darFeedBackCounter">
    <xs:sequence>
      <xs:element minOccurs="0" name="counter" type="tns:championcounter" />
      <xs:element minOccurs="0" ref="tns:usuario" />
      <xs:element name="feedback" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darFeedBackCounterResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="finalizarCadastro">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:usuario" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="finalizarCadastroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hello">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="helloResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirComentarioCampeao">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentario" type="tns:championcomments" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="championcomments">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentario" type="xs:string" />
      <xs:element name="idChampion" type="xs:int" />
      <xs:element minOccurs="0" name="idComment" type="xs:int" />
      <xs:element minOccurs="0" name="idUsuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirComentarioCampeaoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alterarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alterarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarUsuarioPorId">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarUsuarioPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirBuildStage">
    <xs:sequence>
      <xs:element minOccurs="0" name="bs" type="tns:buildstage" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buildstage">
    <xs:sequence>
      <xs:element minOccurs="0" name="descricao" type="xs:string" />
      <xs:element minOccurs="0" name="idBuild" type="tns:championbuild" />
      <xs:element minOccurs="0" name="idStage" type="xs:int" />
      <xs:element minOccurs="0" name="item0" type="xs:int" />
      <xs:element minOccurs="0" name="item1" type="xs:int" />
      <xs:element minOccurs="0" name="item2" type="xs:int" />
      <xs:element minOccurs="0" name="item3" type="xs:int" />
      <xs:element minOccurs="0" name="item4" type="xs:int" />
      <xs:element minOccurs="0" name="item5" type="xs:int" />
      <xs:element minOccurs="0" name="item6" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirBuildStageResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarComentarioPorCampeao">
    <xs:sequence>
      <xs:element name="idCampeao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarComentarioPorCampeaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:championcomments" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alterarSenha">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:usuario" />
      <xs:element minOccurs="0" name="newPassoword" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alterarSenhaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="summoner" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darFeedBackComentario">
    <xs:sequence>
      <xs:element minOccurs="0" name="comentario" type="tns:championcomments" />
      <xs:element minOccurs="0" ref="tns:usuario" />
      <xs:element name="feedBack" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="darFeedBackComentarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="user" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarCounterPorCampeao">
    <xs:sequence>
      <xs:element name="idCampeao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarCounterPorCampeaoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:championcounter" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarComentario">
    <xs:sequence>
      <xs:element name="idComentario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="encontrarComentarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:championcomments" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirBuild">
    <xs:sequence>
      <xs:element minOccurs="0" name="build" type="tns:championbuild" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="inserirBuildResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>